body {
}
.Indent {
    width: 1vw;
}
.CompressedLine {
    height:2px;
}
hr {
    padding: 0;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    color: black;
    background-color: black;
    height: 1px;
    margin-bottom: 1vh;
    margin-top: 1vh;
}
.standardTable {
    width:100%;
    height:100%;
    border-collapse:collapse;
}
.barelyVisible {
    opacity:0.3;
}
.silentButton {
    display:none;
}
.ZoneBlockSized {
    height: 70vh;
    overflow-y: auto;
    padding: 1vw 2vw;
}
/*Overrider*/
.h1 {
    padding: 0;
    margin: 0;
}
.btn-primary {
    padding: 1vw 2vw;
}
/*Screen Formatting*/
.halfScreenBlockFaded {
    z-index: 0 !important;
    opacity: 0 !important;
}
.halfScreenBlockLeft {
    width: 48vw;
    left: 1vw;
    top: 10vh;
    height: 85vh;
    position: fixed;
    background-color: gainsboro;
    padding: 1vw;
    border-style: solid;
    border-radius: 4px;
    box-shadow: 0px 6px 8px gray;
    opacity:1;
    transition:opacity 1s ease;
    z-index:1;
}
.halfScreenBlockRight {
    width: 48vw;
    left: 51vw;
    top: 10vh;
    height: 85vh;
    position: fixed;
    background-color: gainsboro;
    padding: 1vw;
    border-style: solid;
    border-radius: 4px;
    box-shadow: 0px 6px 8px gray;
    opacity: 1;
    transition: opacity 1s ease;
    z-index: 1;
}
.headerText {
    margin: 0;
    padding: 0;
    font-size: 2vw;
    font-weight: bold;
}
/*Date Selector Formatting*/
.dateBlock {
    width: 5vw;
    height: 5vw;
    float: left;
    border-style: solid;
    margin: 0.7vw;
    border-width: thin;
    border-radius: 4px;
    background-color: cadetblue;
    text-align: center;
    font-weight: bold;
    font-size: 1vw;
    cursor:pointer;
}
.dateBlockMonth {
    background-color: aliceblue;
    border-bottom-right-radius: 4px;
    font-size: 0.8vw;
}
.dateBlockDay {
    font-size: 2vw;
}
.DateBlockSelected {
    background-color: chartreuse;
}
.dateBlockAvailableQTY {
    position: relative;
    width: 4.5vw;
    font-size: 0.8vw;
    height: 3vh;
    line-height: 3vh;
    top: -4vh;
    margin-top: 0vh;
}
progress[value] {
    -webkit-appearance: none;
    appearance: none;
    width: 4.5vw;
    height: 3vh;
    background-color: white;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 4px;
    position: relative;
}
    progress[value]::-webkit-progress-bar {
        background-color: #eee;
        border-radius: 2px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }
.dateBlockDisplay {
    margin: 0;
    width: 7vw;
    height: 3vw;
}
/*Time Selector Formatting*/
.timeCell {
    text-align:center;
    font-size:1vw;
}
.timeZone {
    height: 71vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.timeBlock {
    width: 5vw;
    height: 4vw;
    float: left;
    border-style: solid;
    margin: 0.6vw;
    border-width: thin;
    border-radius: 4px;
    background-color: cadetblue;
    text-align: center;
    font-weight: bold;
    font-size: 1.5vw;
    cursor: pointer;
}
.timeBlockSelected {
    background-color: chartreuse;
}
.timeBlockAvailableQTY {
    position: relative;
    width: 4.5vw;
    font-size: 0.8vw;
    height: 3vh;
    line-height: 3vh;
    top: -5.4vh;
    margin-top: -5.4vh;
}
/*TextBox*/
.TextBoxFullLine {
    width: 100%;
    font-size: 2vw;
    text-align: left;
    max-width: none;
    padding: 0vw 1vw;
    margin-top: 1vh;
}
.TextBoxNumberLineMed {
    width: 50%;
    font-size: 2vw;
    text-align: right;
    max-width: none;
    padding: 0vw 1vw;
    margin-top: 1vh;
}
/*Order*/
.CategoryButton {
    width: 8vw;
    height: 3vw;
    margin-bottom: 1vh;
    float: left;
    border-style: solid;
    border-width: thin;
    border-radius: 4px;
    background-color: cadetblue;
    text-align: center;
    font-weight: bold;
    font-size: 1vw;
    cursor: pointer;
}
.CategoryButtonSelected {
    width: 8vw;
    height: 3vw;
    margin-bottom: 1vh;
    float: left;
    border-style: solid;
    border-width: thin;
    border-radius: 4px;
    background-color: darkorange;
    text-align: center;
    font-weight: bold;
    font-size: 1vw;
    cursor: pointer;
}
.AddToOrderButton {
    width: 8vw;
    height: 3vw;
    margin-bottom: 1vh;
    float: left;
    border-style: solid;
    border-width: thin;
    border-radius: 4px;
    background-color: cadetblue;
    text-align: center;
    font-weight: bold;
    font-size: 1vw;
    cursor: pointer;
}
.AddedToOrderButton {
    width: 8vw;
    height: 3vw;
    margin-bottom: 1vh;
    float: left;
    border-style: solid;
    border-width: thin;
    border-radius: 4px;
    background-color: darkorange;
    text-align: center;
    font-weight: bold;
    font-size: 1vw;
    cursor: pointer;
}